.animated-cards {
    h2.title, h3.title {
        @include responsive-font-size(36px);
        margin-bottom: 50px;
        text-align: center;
        position: relative;
        @media only screen and (max-width: 575px) {
            font-size: 26px;
            margin-bottom: 30px;
        }
        span {
            color: $red;
        }
        span.marker {
            display: inline-block;
            height: 33px;
            transform: translateY(12%);
            margin-right: 10px;
            &::before {
                content: url("data:image/svg+xml,%3Csvg width='24' height='33' viewBox='0 0 24 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.97921 0.500022L23.1775 16.5L8.97921 32.5L-0.000366211 32.5L14.5214 16.5L-0.000366211 0.5L8.97921 0.500022Z' fill='%23E10915'/%3E%3C/svg%3E");
            }
            @media only screen and (min-width: 992px) and (max-width: 1199px) {
                transform: translateY(12%);
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                transform: translateY(14%);
            }
            @media only screen and (min-width: 576px) and (max-width: 767px) {
                content: url("data:image/svg+xml,%3Csvg width='18' height='24' viewBox='0 0 18 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.85938 1.63973e-05L17.5081 12L6.85938 24L0.124695 24L11.016 12L0.124695 0L6.85938 1.63973e-05Z' fill='%23E10915'/%3E%3C/svg%3E");
                transform: translateY(15%);
                height: 24px;
            }
            @media only screen and (max-width: 575px) {
                content: url("data:image/svg+xml,%3Csvg width='18' height='24' viewBox='0 0 18 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.85938 1.63973e-05L17.5081 12L6.85938 24L0.124695 24L11.016 12L0.124695 0L6.85938 1.63973e-05Z' fill='%23E10915'/%3E%3C/svg%3E");
                transform: translateY(15%);
                height: 24px;
            }
        }
    }
    .img-cards {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 767px) {
            display: block;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px){
            flex-wrap: wrap;
            justify-content: center;
        }
        .ac {
            position: relative;
            width: 325px;
            height: 325px;
            @media only screen and (min-width: 768px) and (max-width: 1199px) {
                height: 250px;
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                width: 50%;
            }
            @media only screen and (max-width: 767px) {
                width: 100%;
                height: 230px;
                margin-bottom: 5px;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 100%;
                width: 70%;
                background-color: $red;
                opacity: 0;
                transform-origin: right;
                pointer-events: none;
                mix-blend-mode: multiply;
                transition: all .5s ease-in-out;
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: $text;
                opacity: .3;
                pointer-events: none;
                mix-blend-mode: multiply;
                transition: all .5s ease-in-out;
                z-index: 1;
                pointer-events: none;
                @media only screen and (max-width: 767px) {
                    background-color: $red;
                    opacity: 1;
                }
            }
            &:hover {
                .line {
                    width: calc(100% - 60px);
                    &::after {
                        width: 50%;
                        right: 50%;
                    }
                }
                &::after {
                    width: 100%;
                    opacity: 1;
                    @media only screen and (max-width: 767px) {
                        opacity: 0;
                    }
                }
                &::before {
                    opacity: 0;
                    @media only screen and (max-width: 767px) {
                        background-color: $text;
                        opacity: .3;
                    }
                }
            }
            img {
                position: relative;
                object-fit: cover;
                height: 100%;
                width: 100%;
                filter: grayscale(1);
                @media only screen and (max-width: 767px) {
                    width: 100%;
                }
            }
            h3 {
                position: absolute;
                bottom: 93px;
                right: 72px;
                margin-bottom: 0;
                line-height: 1;
                color: white;
                font-weight: 700;
                font-size: 26px;
                z-index: 1;
                max-width: 180px;
                text-align: right;
                @media only screen and (min-width: 992px) and (max-width: 1199px) {
                    right: 35px;
                }
            }
            .line {
                display: block;
                position: absolute;
                height: 1px;
                width: 42%;
                background-color: white;
                right: 0;
                bottom: 60px;
                transition: all .5s ease-in-out;
                z-index: 1;
                @media only screen and (max-width: 767px) {
                    width: calc(100% - 60px);
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 3px;
                    width: 0;
                    background-color: white;
                    bottom: 0;
                    right: 0;
                    transition: all .5s ease-in-out;
                    @media only screen and (max-width: 767px) {
                        width: 50%;
                        right: 50%;
                    }
                }
            }
        }
    }
}