.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    @media only screen and (max-width: 575px) {
        padding-inline: 15px;
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10.5px;
        svg {
            margin-right: 11.5px;
        }
        h4 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 0;
        }
    }
    a {
        margin-bottom: 0;
        color: $text;
        font-weight: 300;
        font-size: 16px;
        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
    .info-card {
        padding: 55px;
        border: 1px solid $grey;
        width: 370px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (max-width: 991px) {
            width: 100%;
        }
    }
}