a {
    transition: all .2s ease-in-out;
    color: $red;
}

.btn1 {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px 20px;
    height: 43px;
    font: 400 15px/21px 'Poppins', sans-serif;
    text-decoration: none;
    color: $red;
    background: transparent;
    border: 1px solid $red;
    box-sizing: border-box;
    border-radius: 100px;
    width: fit-content;
    transition: .3s ease-in-out all;
    &:hover {
        text-decoration: none;
        line-height: 101px;
    }
    &::before {
        content: attr(data-text);
        color: $red;
        position: absolute;
        top: -30px;
        text-decoration: none;
    }
    &.small {
        padding: 5px 15px;
        height: 33px;
        font: 400 15px/21px 'Poppins', sans-serif;
        &:hover {            
            line-height: 91px;
        }
    }
    &:focus {
        outline: none;
    }
}
.btn2 {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: $red;
    background-color: transparent;
    border: 1px solid $red;
    box-sizing: border-box;
    width: fit-content;
    transition: .3s ease-in-out all;
    &:hover {
        background-color: $red;
        color: white;
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &.active {
        background-color: $red;
        color: white;
    }
}
.txt-btn {
    color: $red;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    flex-grow: 1;
    display: block;
    max-width: fit-content;
    padding: 0 0 5px 0;
    border-bottom: 1px solid $red;
    transition: all .2s ease-in-out;
    border-top: none;
    border-right: none;
    border-left: none;
    background: transparent;
    &:hover{
        color: $dg;
        text-decoration: none;
        border-bottom: 1px solid $dg;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.rm-btn {
    color: $red;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    flex-grow: 1;
    display: block;
    max-width: fit-content;
    padding: 0 0 5px 0;
    border-bottom: 1px solid $red;
    transition: all .2s ease-in-out;
    border-top: none;
    border-right: none;
    border-left: none;
    background: transparent;
    &:hover{
        color: $dg;
        text-decoration: none;
        border-bottom: 1px solid $dg;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &.collapsed {
        &::before {
            content: 'Read More';
        }
        &::after {
            //content: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.75L6 6.25L10.5 1.75' stroke='%23E10915' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E");
            margin-left: 10px;
            display: inline-block;
            transform: scaleY(1) translateY(-2px);
            transition: all .35s ease-in-out;
        }
        &:hover {
            &::after {
                //content: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.75L6 6.25L10.5 1.75' stroke='%23E10915' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E");
                margin-left: 10px;
                display: inline-block;
                transition: all .35s ease-in-out;
            }
        }
    }
    &:not(.collapsed) {
        &::before {
            content: 'Read Less';
        }
        &::after {
            //content: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8333 0.5L6.99999 6.33333L1.16666 0.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            margin-left: 14px;
            display: inline-block;
            transform: scaleY(-1) translateY(-2px);
            transform-origin: center;
            transition: all .35s ease-in-out;
        }
        &:hover {
            &::after {
                //content: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8333 0.5L6.99999 6.33333L1.16666 0.5' stroke='%2328303D' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                margin-left: 14px;
                display: inline-block;
                transition: all .35s ease-in-out;
            }
        }
    }
}
.social {
    color: white!important;
    font-size: 15px;
    font-weight: 400;
    flex-grow: 1;
    display: block;
    max-width: 100%;
    padding: 5px 17.5px;
    transition: all .2s ease-in-out;
    background-color: $red;
    &:hover{
        background-color: $black;
        text-decoration: none;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}