.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
  @media only screen and (min-width: 992px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &.rpt {
    padding-top: 0;
  }
  &.rpb {
    padding-bottom: 0;
  }
  &.rtp {
    @media only screen and (min-width: 992px) {
      padding-top: 100px;
    }
  }
  .container.narrow {
    @media only screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }
}
body:not(.logged-in) {
  .htp {
    display: none;
  }
}

// Custom Breakpoints
@media (min-width: 600px) and (max-width: 781px) {
  .content-section.break-md {
    .wp-block-columns {
      display: block;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:nth-child(2n) {
      //margin-top: 50px;
      margin-left: 0;
  }
  }
}
@media (min-width: 600px) and (max-width: 991px) {
  .content-section.break-lg {
    .wp-block-columns {
      display: block;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:nth-child(2n) {
      margin-left: 0;
      //margin-top: 50px;
  }
  }
}
@media (min-width: 600px) and (max-width: 1259px) {
  .content-section.break-xl {
    .wp-block-columns {
      display: block;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:nth-child(2n) {
      margin-left: 0;
      //margin-top: 50px;
  }
  }
}
@media (min-width: 600px) and (max-width: 1399px) {
  .content-section.break-xxl {
    .wp-block-columns {
      display: block;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:nth-child(2n) {
      margin-left: 0;
      //margin-top: 50px;
  }
  }
}