.homepage-hero {
    position: relative;
    .container {
        position: relative;
    }
    .hero-content {
        max-width: 570px;
        background-color: white;
        padding: 45px 45px 0 45px;
        position: absolute;
        bottom: 0;
        z-index: 1;
        left: 65px;
        @media only screen and (max-width: 991px) {
            position: relative;
            padding: 15px 0 0 0;
            left: 0;
            bottom: auto;
            max-width: none;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: calc(100% - 90px);
            background-color: $red;
            bottom: 0;
            @media only screen and (max-width: 991px) {
                width: 100%;
            }
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 3px;
            width: 62px;
            background-color: $red;
            left: 45px;
            bottom: 1px;
            @media only screen and (max-width: 991px) {
                left: 0;
            }
        }
        h1, h2, h3 {
            span {
                color: $red;
                @include responsive-font-size(50px);
                margin-bottom: 5px;
                font-weight: 500;
                display: block;
                @media only screen and (max-width: 575px) {
                font-size: 36px;
                }
            }
            font-weight: 300;
            font-size: 21px;
            letter-spacing: .02em;
            text-transform: uppercase;
            margin-bottom: 5px;
            @media only screen and (max-width: 575px) {
                font-size: 16px;
                line-height: 1.2;
            }
            b {
                font-weight: 500;
            }
        }
        p.sub-head {
            font-weight: 300;
            font-size: 21px;
            letter-spacing: .02em;
            text-transform: uppercase;
            margin-bottom: 5px;
            @media only screen and (max-width: 575px) {
                font-size: 16px;
                line-height: 1.2;
            }
        }
        p.description {
            font-weight: 300;
            margin-bottom: 10px;
            min-height: 150px;
            @media only screen and (max-width: 991px) {
                min-height: 75px;
            }
            @media only screen and (max-width: 575px) {
                min-height: fit-content;
            }
        }
        .slider-nav-wrapper {
            padding-bottom: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .slider-nav {
                font-size: 12px;
                font-weight: 300;
                text-transform: uppercase;
                color: $black;
                display: flex;
                align-items: center;
                line-height: 1;
                transition: all .2s ease-in-out;
                &:hover {
                    cursor: pointer;
                    color: $red;
                }
                &.nav-prev {
                    svg {
                        margin-right: 9.5px;
                    }
                }
                &.nav-next {
                    svg {
                        margin-left: 9.5px;
                    }
                }
            }
        }
    }
}