h2.title, h3.title {
    @include responsive-font-size(36px);
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    @media only screen and (max-width: 575px) {
        font-size: 26px;
        margin-bottom: 30px;
    }
    span {
        color: $red;
    }
    span.marker {
        display: inline-block;
        height: 33px;
        transform: translateY(12%);
        margin-right: 10px;
        &::before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='33' viewBox='0 0 24 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.97921 0.500022L23.1775 16.5L8.97921 32.5L-0.000366211 32.5L14.5214 16.5L-0.000366211 0.5L8.97921 0.500022Z' fill='%23E10915'/%3E%3C/svg%3E");
        }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            transform: translateY(12%);
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            transform: translateY(14%);
        }
        @media only screen and (min-width: 576px) and (max-width: 767px) {
            content: url("data:image/svg+xml,%3Csvg width='18' height='24' viewBox='0 0 18 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.85938 1.63973e-05L17.5081 12L6.85938 24L0.124695 24L11.016 12L0.124695 0L6.85938 1.63973e-05Z' fill='%23E10915'/%3E%3C/svg%3E");
            transform: translateY(15%);
            height: 24px;
        }
        @media only screen and (max-width: 575px) {
            content: url("data:image/svg+xml,%3Csvg width='18' height='24' viewBox='0 0 18 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.85938 1.63973e-05L17.5081 12L6.85938 24L0.124695 24L11.016 12L0.124695 0L6.85938 1.63973e-05Z' fill='%23E10915'/%3E%3C/svg%3E");
            transform: translateY(15%);
            height: 24px;
        }
    }
}
.logos {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: 1200px) {
        max-width: 970px;
        margin-inline: auto;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px){
        //justify-content: space-evenly;
    }
    @media only screen and (max-width: 767px){
        justify-content: center;
        gap: 30px;
        flex-flow: column;
    }
    .logo-box {
        text-align: center;
        max-width: 326px;
        max-height: 107px;
        position: relative;
        &:hover {
            .hover-content {
                opacity: 1;
            }
        }
        .hover-content {
            background-color: rgba(255,255,255,.95);
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            min-height: fit-content;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0;
            opacity: 0;
            transition: all .5s ease-in-out;
        }
        p.title {
            font-weight: 600;
            color: $black;
            margin-bottom: 5px;
            max-width: 190px;
            text-align: center;
        }
    }
}