.img-cta {
    position: relative;
    .img-wrapper {
        height: 350px;
        width: 100%;
        position: relative;
        @media only screen and (max-width: 767px) {
            height: 325px;
        }
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .cta {
        background-color: white;
        width: 600px;
        position: absolute;
        right: 65px;
        bottom: 0;
        padding: 60px 60px 0 60px;
        @media only screen and (max-width: 991px) {
            right: 0;
        }
        @media only screen and (max-width: 767px) {
            width: 330px;
            padding: 30px 30px 0 30px;
        }
        h4 {
            margin-bottom: 20px;
            @include responsive-font-size(24px);
            font-weight: 600;
        }
        span {
            background: linear-gradient(90deg, $red 0%, $red 100%);
            background-repeat: no-repeat;
            background-size: 100% 70%;
            background-position: 0 70%;
            color: white;
            position: relative;
            /* @media only screen and (max-width: 375px) {
                &::after {
                    content: "";
                    width: 85px;
                    height: 18px;
                    background-color: $red;
                    display: inline;
                    position: absolute;
                    bottom: .14em;
                }
            } */
        }
    }
}