body {
    background: url('../img/backgrounds/login-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a:focus, .login .button.wp-hide-pw:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
input[type=checkbox]:checked::before {
    content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23E10915%27%2F%3E%3C%2Fsvg%3E");
}
.wp-core-ui .button-primary, .wp-core-ui .button-primary:active, .wp-core-ui .button-primary:focus {
    background: #E10915;
    border-color: #E10915;
    transition: all .2s ease-in-out;
}
.wp-core-ui .button-primary:hover {
    background: #171411;
    border-color: #171411;
}
.wp-core-ui .button-secondary {
    color: #E10915;
    transition: all .2s ease-in-out;
}
.wp-core-ui .button-secondary:hover {
    color: #171411;
}
.login #backtoblog a, .login #nav a, .login h1 a {
    color: #171411;
    font-size: 15px;
    transition: all .2s ease-in-out;
}
.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
    color: #E10915;
}
::selection {
    color: white;
    background: #E10915;
}
::-moz-selection {
    color: white;
    background: #E10915;
}
.login #login_error, .login .message, .login .success {
    border-left: 4px solid #E10915;
}
.login form {
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(214, 214, 214, .5);
    backdrop-filter: blur(2px);
}

.login form input[type="text"], .login form input[type="password"], .login form input[type="checkbox"], .login form input[type="tel"], .login form input[type="email"] {
    border-color: rgba(28, 34, 39, 0.1);
}

.wp-core-ui .button-primary:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #E10915;
}