.archive, .category, .single, .blog {
    .inner-hero {
        .small {
            .hero-content {
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    width: 450px;
                }
            }
        }
    }
    .content {
        .container.inner {
            @media only screen and (min-width: 1200px) {
                max-width: 1230px;
            }
            .blog-wrapper {
                margin-top: 100px;
                flex-wrap: wrap;
                @media only screen and (max-width: 575px) {
                    padding-inline: 0;
                    margin-top: 50px;
                }
                @media only screen and (max-width: 767px) {
                    margin-top: 50px;
                }
                .card {
                    width: 570px;
                    max-width: none;
                    margin-bottom: 20px;
                    @media only screen and (min-width: 992px) and (max-width: 1199px) {
                        width: 420px;
                    }
                    @media only screen and (min-width: 768px) and (max-width: 992px) {
                        width: 320px;
                    }
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                    }
                    @media only screen and (max-width: 767px) {
                        margin-bottom: 30px;
                    }
                    .img-wrapper {
                        height: 250px;
                        width: 570px;
                        margin-bottom: 20px;
                        @media only screen and (min-width: 992px) and (max-width: 1199px) {
                            width: 420px;
                        }
                        @media only screen and (min-width: 768px) and (max-width: 992px) {
                            width: 320px;
                        }
                        @media only screen and (max-width: 767px) {
                            width: 100%;
                        }
                        @media only screen and (max-width: 575px) {
                            height: 220px;
                        }
                        img.placeholder {
                            object-fit: contain;
                            height: 100%;
                            border: 1px solid $grey!important;
                        }
                    }
                    .card-body {
                        padding-left: 20px;
                        border-left: 1px solid $red;
                        time.date {
                            color: $dg;
                            font-size: 18px;
                            margin-bottom: 3px;
                            font-weight: 300;
                        }
                        h3.card-title {
                            @include responsive-font-size(26px);
                            margin-bottom: 15px;
                            @media only screen and (max-width: 575px) {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .reviews.container {
        @media only screen and (min-width: 1200px) {
            max-width: 1200px;
        }
        margin-top: 150px;
        @media only screen and (max-width: 767px) {
            margin-top: 50px;
        }
    }
    .contact-section {
        margin-top: 150px;
        @media only screen and (max-width: 767px) {
            margin-top: 50px;
        }
    }
    .row.main {
        margin-top: 100px;
        @media only screen and (max-width: 767px) {
            margin-top: 50px;
        }
    }
    article.post {
        margin-bottom: 30px;
        @media only screen and (max-width: 575px) {
            margin-top: 15px;
        }
        time {
            color: $dg;
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 300;
            display: block
        }
        .img-wrapper {
            height: 450px;
            width: 100%;
            margin-bottom: 30px;
            /* @media only screen and (min-width: 992px) and (max-width: 1199px) {
                width: 420px;
            }
            @media only screen and (min-width: 768px) and (max-width: 992px) {
                width: 320px;
            }
            @media only screen and (max-width: 767px) {
                width: 100%;
            } */
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                &.placeholder {
                    border: 1px solid $grey!important;
                }
            }
            @media only screen and (max-width: 575px) {
                height: 250px;
            }
        }
        strong {
            font-weight: 600;
        }
    }
    h1.post-title {
        @include responsive-font-size(36px);
        margin-bottom: 30px;
        text-align: left;
        position: relative;
        display: flex;
        @media only screen and (max-width: 575px) {
            font-size: 26px;
            margin-bottom: 15px;
        }
        span.marker {
            display: inline-block;
            height: 33px;
            transform: translateY(12%);
            margin-right: 10px;
            &::before {
                content: url("data:image/svg+xml,%3Csvg width='24' height='33' viewBox='0 0 24 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.97921 0.500022L23.1775 16.5L8.97921 32.5L-0.000366211 32.5L14.5214 16.5L-0.000366211 0.5L8.97921 0.500022Z' fill='%23E10915'/%3E%3C/svg%3E");
            }
            @media only screen and (min-width: 992px) and (max-width: 1199px) {
                transform: translateY(12%);
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                transform: translateY(14%);
            }
            @media only screen and (min-width: 576px) and (max-width: 767px) {
                content: url("data:image/svg+xml,%3Csvg width='18' height='24' viewBox='0 0 18 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.85938 1.63973e-05L17.5081 12L6.85938 24L0.124695 24L11.016 12L0.124695 0L6.85938 1.63973e-05Z' fill='%23E10915'/%3E%3C/svg%3E");
                transform: translateY(15%);
                height: 24px;
            }
            @media only screen and (max-width: 575px) {
                content: url("data:image/svg+xml,%3Csvg width='18' height='24' viewBox='0 0 18 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.85938 1.63973e-05L17.5081 12L6.85938 24L0.124695 24L11.016 12L0.124695 0L6.85938 1.63973e-05Z' fill='%23E10915'/%3E%3C/svg%3E");
                transform: translateY(15%);
                height: 24px;
            }
        }
    }
    aside {
        margin-top: 50px;
        h3 {
            font-size: 26px;
            margin-bottom: 30px;
            @media only screen and (max-width: 575px) {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
        .post {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            border-left: 1px solid $red;
            &:not(:last-child) {
                margin-bottom: 30px;
                @media only screen and (max-width: 575px) {
                    margin-bottom: 15px;
                }
            }
            time {
                color: $dg;
                font-size: 18px;
                margin-bottom: 3px;
                font-weight: 300;
                display: block
            }
            a {
                color: $black;
                font-weight: 500;
                transition: all .2s ease-in-out;
                &:hover {
                    color: $red;
                    text-decoration: none;
                }
            }
        }
    }
}
